#game {
    margin: auto;
}
h1 {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #28eaaf;
}
body{
    background-color: #333333;
}
p {
    color: #ffffff;
}
span {
    color: #ffffff;
}
h3 {
    color: #ffffff;
}
td{
    width: 150px;
    height: 150px;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    border : 1px solid;
    text-align: center;
    color: #28eaaf;
}
h3{
    font-weight: 900;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
td.win-cell {
    text-decoration: line-through;
    position: relative;
  }
  
  #name1{
    width: 100px;
    height: 20px;
  }
  #name2{
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
  }
  #btn-submit {
    background-color: #28eaaf;
    color: #333333;
    border: none;
    height: 20px;
    width: 100px;
    text-decoration: none;
    margin-top: 20px;
  }
